.donationMain{
    margin: 100px 10px 20px 90px;
}
.listView{
    margin-top: 30px;
    width: 100%;
    height: 200px;
    background-color: rgb(248, 246, 244);
    padding: 20px;
    border-radius: 10px;
   
}

.lastline{
    display: flex;
    justify-content: space-between;
}
.verifiedBtn{
    display: flex;
   
}

.image{
    margin-top: 30px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.mainDivClass{
    margin-top: 30px;
    display: flex;
}

.verifiedMessage{
    margin-right: 30px;
}